{% extends 'emailings/base.html' %}


{% block content %}
<div class="container">
    <div class="row text-center">
        {% for email in  object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ email.theme }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ email.body }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ client.body|truncatechars:100 }}</li>
                    </ul>
                    <a class="btn btn-primary mb-2" href="{% url 'emailings:emailing_detail' email.pk %}" role="button">Посмотреть</a>
                    <a class="btn btn-primary mb-2" href="{% url 'emailings:emailing_update' email.pk %}" role="button">Редактировать</a>
                    <a class="btn btn-primary mb-2" href="{% url 'emailings:emailing_delete' email.pk %}" role="button">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
