{% extends 'clients/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        {% for user in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">

                <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ user.country }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ user.email }}</h1>
                            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                <li>{{ user.phone_number }}</li>
                            </ul>
                                {% if perms.users.can_block_user %}
                                    <form action="{% url 'users:block_user' user.pk %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">
                                            {% if user.is_active %}Блокировать{% else %}Разблокировать{% endif %}
                                        </button>
                                    </form>
                                {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}