{% extends 'clients/base.html' %}


{% block content %}
</div>
    {% if perms.emailings.view_mailing %}
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card mb-3 mr-10">
          <div class="card-body">
            <h5 class="card-title">Список рассылок</h5>
            <p class="card-text">Посмотреть</p>
            <a href="{% url 'emailings:mailings_list' %}" class="btn btn-primary">Перейти</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% if user.is_superuser %}
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Список сообщений</h5>
            <p class="card-text">Посмотреть</p>
            <a href="{% url 'emailings:messages_list' %}" class="btn btn-primary">Перейти</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if perms.clients.view_clients %}
    <div class="margin__top col-sm-5">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Список клиентов</h5>
            <p class="card-text">Посмотреть</p>
            <a href="{% url 'clients:clients_list' %}" class="btn btn-primary">Перейти</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% if perms.users.view_customuser %}
    <div class="margin__top col-sm-5">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Список пользователей</h5>
            <p class="card-text">Посмотреть</p>
            <a href="{% url 'users:users_list' %}" class="btn btn-primary">Перейти</a>
          </div>
        </div>
      </div>
    {% endif %}


<div class="container">
    {% if user.is_superuser %}
    <div class="row">
      <div class="margin__top col-sm-6 mb-3 mb-sm-0">
        <div class="card mb-3">
          <div class="card-body btn-primary">
              <ul>
              <li>
                <p>Создано рассылок: </p>
                <span class="#">{{ count_mailings }}</span>
              </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="margin__top col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body btn-primary">
              <ul>
              <li>
                <p>Количество активных рассылок: </p>
                <span>{{ active_mailings_count }}</span>
              </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="margin__top col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body btn-primary">
              <ul>
              <li>
                <p>Количество уникальных получателей: </p>
                <span>{{ unique_clients_count }}</span>
              </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="margin__top col-sm-6 mb-3 mb-sm-0">
    <div class="card mt-3">
        <div class="card-body btn-primary">
            <ul>
                <li>
                    <p>Количество успешных попыток: </p>
                    <span>{{ successful_attempts }}</span>
                </li>
                <li>
                    <p>Количество неуспешных попыток: </p>
                    <span>{{ unsuccessful_attempts }}</span>
                </li>
                <li>
                    <p>Всего отправленных сообщений: </p>
                    <span>{{ all_sent_messages }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}