{% extends 'clients/base.html' %}


{% block content %}
<div class="container">
    <div class="row">
      <div class="margin__top col-sm-6 mb-3 mb-sm-0">
        <div class="card mb-3">
          <div class="card-body btn-primary">
              <ul>
              <li>
                <p>Создано рассылок: </p>
                <span class="#">{{ count_mailings }}</span>
              </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="margin__top col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body btn-primary">
              <ul>
              <li>
                <p>Количество активных рассылок: </p>
                <span>{{ active_mailings_count }}</span>
              </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="margin__top col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body btn-primary">
              <ul>
              <li>
                <p>Количество уникальных получателей: </p>
                <span>{{ unique_clients_count }}</span>
              </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="margin__top col-sm-6 mb-3 mb-sm-0">
    <div class="card mt-3">
        <div class="card-body btn-primary">
            <ul>
                <li>
                    <p>Количество успешных попыток: </p>
                    <span>{{ successful_attempts }}</span>
                </li>
                <li>
                    <p>Количество неуспешных попыток: </p>
                    <span>{{ unsuccessful_attempts }}</span>
                </li>
                <li>
                    <p>Всего отправленных сообщений: </p>
                    <span>{{ all_sent_messages }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}